
.roboto-my {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: 'Roboto';
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-row: 1 / -1;
    background-color: rgb(64, 133, 212);
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    gap: 3rem;
    padding: 1rem;
}

nav a {
    color: white;
}

nav svg {
    fill: white;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}

.avatar {
    display: inline-block;
    width: 4rem;
    height: 4rem;
}

.brand-link, .nav-list1 a, .nav-list2 a {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-flow: column;
    align-items: center;
}

.brand-name {
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-list1, .nav-list2 {
    font-size: 1.5rem;
}

.nav-list1 svg, .nav-list2 svg {
    width: 1.5rem;
    height: 1.5rem;
}

header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    padding-left: 3rem;
    padding-bottom: 1rem;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column: 1 / 3;
}

.search-bar svg {
    width: 1.5rem;
    height: 1.5rem;
}

.search-bar .icon {
    text-align: center;
    background-color: white;
    border: none;
}

.search-bar input {
    border: none;
    border-radius: 20px;
    background-color: rgb(212, 209, 209);
    width: 600px;
    height: 2rem;
}

.search-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.notice-bar {
    justify-content: flex-end;
    padding-right: 2rem;
}

.search-bar > div .avatar {
    flex-shrink: 0;
}

.user-info .avatar {
    width: 6rem;
    height: 6rem;
}

header .username {
    font-weight: bold;
}

header .greeting {
    font-weight: bold;
}

header .btns {
    padding-left: 1rem;
    display: flex;
    justify-content: flex-end;
}

.btns button {
    background-color: rgb(64, 133, 212);
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    color: white;
    margin-right: 1rem;
    font-size: 1rem;
}

header .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.user-info .username {
    font-size: 2rem;
}

.avatar img {
    width: 100%;
    height: 100%;
}

main {
    background-color: rgb(212, 209, 209);
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(2, 1fr);  
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

main h3 {
    margin-bottom: 1rem;
}

.projects {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}

.projects h3 {
    margin-left: 1rem;
}

.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 1rem;
    flex: 1;
}

.projects .card {
    background-color: white;
    margin-left: 1rem;
    padding: 1rem;
    overflow: auto;
    border-radius: 10px;
    border-left: 10px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.projects svg {
    width: 2rem;
    height: 2rem;
}

.announcements {
    display: flex;
    flex-direction: column;
}

.announcements h5 {
    font-size: 1rem;
}

.announcements .container {
    display: grid;
    flex-direction: column;
    background-color: white;
    flex: 1;
    border-radius: 10px;
}

.announcement * {
    margin: 1rem;
}

.announcements p {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; 
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.trends {
    display: flex;
    flex-direction: column;
}

.trends .container {
    display: grid;
    background-color: white;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
}

.trends .container > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}